body{

    background-image: url('../../Images/paper3.jpg'); 
    background-color: black; 
    text-align: center; 
    color: white; 
    background-repeat: space;
    font-family:'Azeret Mono';
    font-size: 90%;
    text-shadow: 2px 2px gray;


}

h1{

    font-weight: bold;
    color: red;
    font-size: 300%;

}


#next{

    color: #ffffff5b;
    text-decoration: none; 
    font-size: 150%; 
    margin-right: 50px;
    margin-left: 50px;

}

#next:hover{

    color: red;

}

#likes{

    color: #ffffff5b;
    text-decoration: none; 

}

#likes:hover{

    color: red;

}

#gameImg{

    height: 300px; 
    width: 300px; 
    border-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#person1{

    text-align: center;
    height: 250px; 
    width: 400px; 
    margin-bottom: 200px;
    
}#person2{

    text-align: center;
    height: 300px; 
    width: 450px; 
    margin-bottom: 250px;
    
}

#null{

    text-align: left;
    font-size: 250%; 
    margin-bottom: 100px;
    margin-left: 550px;

}


#null2{

    font-size: 250%; 
    margin-bottom: 100px;

}

table{

    border: 4px solid rgb(92, 0, 0);
    background-color: rgb(24, 24, 24);
    margin-left: 730px;

}

td{
    
    border: 4px solid rgb(92, 0, 0);
    height: 250px;
    width: 400px;

}

p{
    
    color: white;
    text-align: none;
    font-size: 250%; 
    margin-bottom: 100px;

}

button{

    margin-top: 10px;
    border: 2px solid gray;
    text-align: center; 
    color: white; 
    background-repeat: space;
    font-family:'Azeret Mono';
    font-size: 110%;
    text-shadow: 2px 2px gray;
    background-color: black;

}

button:hover{

    border: 2px solid white;
    background-color: black;
    color: red;

}